@font-face {
	font-family: 'DynaPuff';
	src: url('DynaPuff-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Tektur';
	src: url('Tektur-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Caveat';
	src: url('Caveat-VariableFont_wght.ttf') format('truetype');
}
